<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Library Web</title>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<hr class="hr_upper_page"/>

<section class="header">
    <nav>
        <a th:href="@{/}">
            <img src="/images/header.png" alt="Library Web"/>
        </a>

        <div class="nav-links">
            <ul>
                <li><a th:href="@{/}">HOME</a></li>
                <li><a th:href="@{/history}">HISTORY</a></li>
            </ul>
        </div>
    </nav>
</section>

<section class="searchResultContext">

    <div class="container">
        <div class="row">
            <h1> Books </h1>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th> Title</th>
                <th> Description</th>
                <th> Reservation Date</th>
                <th> Expiration Date</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${history.isEmpty()}">
                <td colspan="2"> No Reservations In The History Yet</td>
            </tr>
            <tr th:each="reservation : ${history}">
                <td th:text="${reservation.book.title}"></td>
                <td th:text="${reservation.book.description}"></td>
                <td th:text="${reservation.reservationDate}"></td>
                <td th:text="${reservation.expireDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
