<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Web</title>
    <link rel="stylesheet" th:href="@{style.css}" >
  </head>

  <body>
    <hr class="hr_upper_page" />

    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="/images/header.png" alt="Library Web" />
        </a>

        <div class="verticalLine">
          <p></p>
        </div>

        <div class="nav-links">
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="login.html">LOG IN</a></li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="seachResultContext">
      <h1 class="searchResultHeader">History</h1>
      <div class="searchVerticalLine"><p></p></div>
      
      <div class="card">
        <div class="image">
            <img src="/images/littleprince.jpg">
        </div>
        <div class="title">
            <h1>The Little King</h1>
            <h2 class="notavailable">Not Available</h2>
        </div>   
        <div class="bookinfo">
            <h4>Genres: Fairy tale, Children's literature, Fable,

                Novella, Speculative fiction, Adventure fiction</h4>
            <h4>Antoine de Saint-Exupéry (1900 - 1944)</h4>
            <h4>Reservation Date: 08/28/2022</h4>
            <h4>Expire Date: 09/28/2022</h4>
        </div>             
    </div>
    </section>

    
  </body>
</html>
